:root {
    /* colors */
    --gray-100: #e6e9f0;
    --gray-200: #cbb3e1;
    --gray-300: #aab3cc;
    --gray-400: #555f7d;
    --gray-500: #546881;
    --gray-600: #47586e;
    --gray-700: #3d4c5e;
    --gray-800: #1d242d;
    --gray-900: #090b0e;

    --primary-light: #4de7b7;
    --primary: #0da170;
    --primary-dark: #062f46;

    --link-color: #10b981;
    --link-hover: #0b8a60;

    --success: #22c55e;
    --warning: #eab308;
    --error: #991b1b;
    --info: #0ea5e9;

    --text-over-primary: #0a0f1a;
    --text-over-primary-dark: #e6e9f0;
    --text-over-primary-light: #0a0f1a;
    --text-over-primary-success: #0a0f1a;
    --text-over-primary-warning: #0a0f1a;
    --text-over-primary-error: #0a0f1a;
    --text-over-primary-info: #0a0f1a;

    --text-default: #e6e9f0;
    --text-muted: #aab3cc;

    --disabled: #555f7d;
    --text-disabled: #aab3cc;

    /* 🔔 Cores do Toastify (notificações) */
    --toastify-color-light: var(--text-default);
    --toastify-color-dark: var(--text-default);
    --toastify-color-info: var(--info);
    --toastify-color-success: var(--success);
    --toastify-color-warning: var(--warning);
    --toastify-color-error: var(--error);
    --toastify-text-color-light: #0a0f1a;
    --toastify-text-color-dark: #e6e9f0;
    --toastify-color-progress-light: var(--primary);
    --toastify-color-progress-dark: var(--primary);
}

:root[data-theme='light'] {
    /* colors */
    --gray-100: #090b0e;
    --gray-200: #1d242d;
    --gray-300: #3d4c5e;
    --gray-400: #47586e;
    --gray-500: #546881;
    --gray-600: #555f7d;
    --gray-700: #aab3cc;
    --gray-800: #cbb3e1;
    --gray-900: #e6e9f0;
    /* text colors */
    --text-default: #0a0f1a;
    --text-muted: #272f43;

    --link-color: #0b8a60;
    --link-hover: #065f46;

    --text-over-primary: #e6e9f0;
    --text-over-primary-dark: #0c1c20;

    /* 🔔 Toastify no modo claro */
    --toastify-text-color-light: #e6e9f0;
    --toastify-text-color-dark: #e6e9f0;
}